* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.header{
    
    color: aqua;
    background-image: url(../backgroung.jpg);
    background-size: cover;
    height: 70px;
}
.footer{
    background-image: url(../backgroung.jpg);
    background-size: cover;
    height: 40px;
    font-size: x-small;
    color: aqua;
}
td{
    border: 1px solid;
}
tr{
    border: 1px solid;
}
a{
    color: skyblue
}
a:visited{
    color: orange
}
a:hover{
    color: green
}
